.about
  .container
    .about__info
      p.about__text I’m Mike, a freelance designer working remotely from Berlin, GE.
      p.about__text For the past 2 years I have been working with brands and agencies throughout the world. 

    .about__skills
      .about__skill
        .skill__icon
          include ../svg/app.svg
        .skill__text App Design
      .about__skill
        .skill__icon
          include ../svg/web.svg
        .skill__text Design & Development
      .about__skill
        .skill__icon
          include ../svg/branding.svg
        .skill__text Branding & Printing
