.contact
  .container
    .contact__container
      .contact__title Let's make something awesome
      .contact__cta If you want to work together, have an idea or simply want to say hello, then hit me up at #[a(href="mailto:hello@mike.com").cta__link hello@mike.com]
      .contact__social
        a(href="http://twitter.com").social.twi
          include ../svg/twitter.svg
        a(href="http://dribble.com").social.dri
          include ../svg/dribble.svg
        a(href="http://github.com").social.git
          include ../svg/github.svg