include ../_mixins/more
.work
  .container
    .work__container
      .tile.w1.two-by-two
        +more('url')
      .tile.w2.one-by-three
        +more('url')
      .tile.w3.three-by-two
        +more('url')
      .tile.pink.one-by-one
      .tile.w4.one-by-two
        +more('url')
      .tile.w5.two-by-two
        +more('url')
      .tile.blue.one-by-one
      .tile.w6.one-by-one
        +more('url')
      .tile.yellow.one-by-one
      .tile.purple.one-by-one
      .tile.w7.three-by-two
        +more('url')
      .tile.w8.one-by-one
        +more('url')
      .tile.w9.two-by-one
        +more('url')
      .tile.w10.two-by-one
        +more('url')
      .tile.coral.one-by-one
