/*	FONTS
------------------------*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,400,600');

/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

body {
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 100%;
  background-color: #f2f2f2;
  margin: 0;
}

p {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.125em;
}



/*	LAYOUT
–––––––––––––––––––––––––––*/
.container {
  max-width: 900px;
  margin: 0 auto;
}
